__pycache__/
versions/
results/
temp/
ffmpeg/
application/app_data/_temp_ffmpeg.mp4
pares_venv/
paresis_venv/
application/app_data/_temp_ffmpeg.mp4
application/app_loggers/*
computation/comp_loggers/*


# exception to the rules
!app_loggers/.gitkeep 
!comp_loggers/.gitkeep 